<%= erb :form %>

<% if cat = arg[:stats].first %>
<ul>
  <li><a href="<%= uri_to_cat_db(cat) %>">にゃんこ大戦争データベース</a></li>
  <li><a href="<%= uri_to_my_gamatoto(cat) %>">My Gamatoto</a></li>
  <li>Checkout BCJP if data is missing. BCJP has the most complete data. BCEN lacks a lot of data</li>
  <li>Level is fixed at 30 right now. Health and damage for crazed cats and Metal Cat are wrong, too</li>
  <li>Assuming maxed blue orbs, treasures, and legend stages cost</li>
  <li>Max DPS and DPS do not account critical strikes nor wave/surge yet</li>
</ul>
<% end %>

<table>
<% arg[:stats].each do |stat| %>
  <tr>
    <th colspan="6"><%= h stat.name %></th>
  </tr>
  <tr>
    <td>Health</td>
    <td><%= stat.health %></td>
    <td>Knockback times</td>
    <td><%= stat.knockbacks %></td>
    <td>Speed</td>
    <td><%= stat.speed %></td>
  </tr>
  <tr>
    <td>Production cost</td>
    <td><%= stat.production_cost %></td>
    <td>Production cooldown</td>
    <td><%= stat_time stat.production_cooldown %></td>
    <td>Rush duration</td>
    <td><%= stat_time stat.rush_duration %></td>
  </tr>
  <tr>
    <td>Attack cycle</td>
    <td><%= stat_time stat.attack_cycle %></td>
    <td>Attack cooldown</td>
    <td><%= stat_time stat.attack_cooldown %></td>
    <td>Attack duration</td>
    <td><%= stat_time stat.attack_duration %></td>
  </tr>
  <% if stat.attacks.size > 1 || stat.long_range? %>
  <tr>
    <% if stat.attacks.size > 1 %>
    <td>Max damage</td>
    <td><%= stat.max_damage %></td>
    <% else %>
    <td></td>
    <td></td>
    <% end %>
    <td>Range</td>
    <td><%= stat.range %></td>
    <td></td>
    <td></td>
  </tr>
  <% end %>
  <% if stat.attacks.size > 1 %>
  <tr>
    <td>Max DPS</td>
    <td><%= stat.max_dps || '?' %></td>
    <td>Max DPS area</td>
    <td><%= stat.max_dps_area %></td>
    <td></td>
    <td></td>
  </tr>
  <% end %>
  <% stat.attacks.each do |attack| %>
  <tr>
    <td>Damage</td>
    <td><%= attack.damage %></td>
    <td><%= stat.area_type %></td>
    <td><%= attack.area %></td>
    <td>Duration</td>
    <td><%= stat_time attack.duration %></td>
  </tr>
  <tr>
    <td>DPS</td>
    <td><%= attack.dps || '?' %></td>
    <td>Trigger effects</td>
    <td colspan="3"><%= attack.trigger_effects %></td>
  </tr>
  <% end %>
  <% stat.specialized_abilities.each do |ability| %>
  <tr>
    <td><%= ability.name %></td>
    <td colspan="5"><%= ability.display(&method(:stat_time)) %></td>
  </tr>
  <% end %>
  <% if stat.generic_abilities.any? %>
  <tr>
    <td></td>
    <td colspan="5">Abilities below cannot be invalidated by curse</td>
  </tr>
  <% stat.generic_abilities.each do |ability| %>
  <tr>
    <td><%= ability.name %></td>
    <td colspan="5"><%= ability.display(&method(:stat_time)) %></td>
  </tr>
  <% end %>
  <% end %>
<% end %>
</table>
